
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;  /* heading text */
  --color-body: #918ca4;  /* body text */
}

/* ================= Typography ==================== */

html {
  /* 16px - default font size for all html-elements */
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;  /* <== 1rem */
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1, h2, h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;  /* ~70px */
}

h2 {
  font-size: 4rem;  /* ~40px */
}

h3 {
  font-size: 3rem;  /* ~30px */
}

p {
  margin-top: 0;
}

/* ================= Links ==================== */

a {
  text-decoration: none;
}


.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

/* ::after - a pseudo-element that is the last child of the selected element. */
.link-arrow::after {
  content: '-->';
  margin-left: 5px;
  transition: margin 0.15s;
}
/* :hover - pseudo-class  matches when the user interacts with an element with a pointing device, but does not necessarily activate it. ::after - target element */
.link-arrow:hover::after {
  margin-left: 10px;
}



/* ============================================= */

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  .link-arrow {
    font-size: 1.5rem;
  }
}




